body{
	margin: 0px; 
	background: #fff;
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
label{
	font-family: Courier, Georgia, serif;
}
.top-navbar{
	left: 0px;
	top: 0px;
	position: fixed;
	z-index: 9999;
	padding-right: 50px;
	width: 100%;
    /*opacity: 0.5 !important;*/
    background:rgba(255,255,255,0.7);
    /*background: #fff;*/
}
#dd-logotop{height:70px;}
/*.ul-top-navbar{
	display: inline-block;
	margin-top: 15px;
	z-index: 99999;
}
.ul-top-navbar a{
	padding: 7px;
	margin-left: 10px;
	text-decoration: none;
	color: #848484;
	font-size: 16px;
}
.ul-top-navbar a:hover{color: #000;}*/
#top-menu { 
	list-style-type: none; 
	display: inline-block;
	margin-top: 15px;
	z-index: 99999;
}
#top-menu li{ display: inline-block; }
#top-menu li a {
	padding: 7px;
	margin-left: 10px;
	text-decoration: none;
	color: #848484;
	font-size: 16px;
    /*display: block;*/
    /*padding: 5px 25px 7px 25px;*/
    /*width: 4em;*/
    /*text-align: center;*/
    -webkit-transition: .5s all ease-out;
    -moz-transition: .5s all ease-out;
    transition: .5s all ease-out;
    border-bottom: 3px solid white;
    /*color: #aaa;*/
    /*text-decoration: none;*/
}

#top-menu a:hover {
    color: #000;
}

#top-menu li.active a {
    border-bottom: 3px solid #333;
    color: #333;
}

#particles-js {
   	position: absolute; 
   	width: 100%; 
   	height: 90vh; 
   	top: 0px;
   	left: 0px;
  	/*background-color: #b61924;*/
   	background-image: url(""); 
  	background-repeat: no-repeat;
  	background-size: cover;
   	background-position: 50% 50%;
}

.banner-contents{height: 90vh; margin-bottom: 100px;}
.topic{
	/*position: relative;*/
	/*margin: 15% 0px 0px 5%;*/
	width: 70%;
	margin: 200px auto 0px auto;
}
.topic-title{
	font-size: 400%;
	color:#424242;
	font-family: Courier, Georgia, serif;
	/*font-weight: 900;*/
	margin-bottom: 15px;
	border-bottom: 1px solid silver;
}
.topic-subtext{
	color: #1C1C1C;
	font-size: 130%;
}

/*.anchs i{color: #fb3;}*/
.banner-anchor-links{
	margin-top:50%;
	list-style-type: none;
}
.banner-anchor-links li{ 
	margin-bottom: 7px;  
	padding-right: 50px;
	width: 250px;
}
.banner-anchor-links li a{
	color: #424242;
	/*padding: 5px 10px;*/
	font-size: 130%;
	text-decoration: none;
}
.banner-anchor-links li a:hover{color: #000;}
/*.banner-anchor-links li a i{display: none;}*/

.sections{
	/*background: #fff;*/
	padding: 50px;
	padding-bottom: 100px;
	/*margin-top: 100px;*/
}

.sec-title{line-height: 200%;}
.sec-title:after {
    display: block;
  	content: "";
  	width: 60%;
  	margin: 0 auto;
  	border-bottom: solid 3px steelblue;
}

.sec-content{
	margin-top: 100px;
	margin-bottom: 50px;
}
.scroll-bottom-cont{margin-top: 150px;}
.scroll-bottom-btn i:hover{ color: #000;}

/*------ SECTIONS -------*/
/*section-toggler*/
ul#section-toggler{
	background-color: #fff;
	padding: 10px;
}
ul#section-toggler li {
	font-weight: bold;
	padding: 7px 15px;
	list-style-type: none;
	/*margin:8px 0px;*/
	margin-bottom: 10px;
	cursor: pointer;
	/*text-align: right;*/
}
ul#section-toggler li:hover{
	border-radius: 4px;
	background-color: #A4A4A4;
	color: #fff;
}
.selected-toggler-btn-active{
	background-color: #424242; color: #fff;
}

/* Testimonials */
/* carousel */
#quote-carousel 
{
  padding: 0 10px 30px 10px;
  margin-top: 30px;
}

/* Control buttons  */
#quote-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 30px;
}
/* Previous button  */
#quote-carousel .carousel-control.left 
{
  left: -12px;
}
/* Next button  */
#quote-carousel .carousel-control.right 
{
  right: -12px !important;
}
/* Changes the position of the indicators */
#quote-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the color of the indicators */
#quote-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
#quote-carousel .carousel-indicators .active 
{
  background: #333333;
}
#quote-carousel img
{
  width: 250px;
  height: 100px
}
/* End carousel */

.item blockquote {
    border-left: none; 
    margin: 0;
}

.item blockquote img {
    margin-bottom: 10px;
}

.item blockquote p:before {
    content: "\f10d";
    font-family: 'Fontawesome';
    float: left;
    margin-right: 10px;
}



/**
  MEDIA QUERIES
*/
@media only screen and (max-width: 500px) {
	a.anchs i{display: none;}
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    #quote-carousel 
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }
    
}

/* Small devices (tablets, up to 768px) */
@media (max-width: 768px) { 
    
    /* Make the indicators larger for easier clicking with fingers/thumb on mobile */
    
    #quote-carousel .carousel-indicators {
        bottom: -20px !important;  
    }
    #quote-carousel .carousel-indicators li {
        display: inline-block;
        margin: 0px 5px;
        width: 15px;
        height: 15px;
    }
    #quote-carousel .carousel-indicators li.active {
        margin: 0px 5px;
        width: 20px;
        height: 20px;
    }
}

/*------  OURWORK thumbnails ------*/
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

/*-------- CUSTOM ---------*/
#about-section{
	background-color: #EFF5FB;
}
.about-img{width: 100%;}
#map{
	height:250px;
}
.about-seamlesstop{
	background: -webkit-linear-gradient(#fff,#EFF5FB,#EFF5FB);
    background: -o-linear-gradient(#fff,#EFF5FB,#EFF5FB); 
    background: -moz-linear-gradient(#fff,#EFF5FB,#EFF5FB);
    background: linear-gradient(#fff,#EFF5FB,#EFF5FB); 
}
.about-desc{
	max-height: 300px;
	overflow: auto;
}
#testimonials-section{
	background-color: #FBEFF5;
}

.agenda{
	padding: 15px;
}

/*#speakers-section{background-color: #EFFBF2;}*/
.thumbnail{
	padding-bottom: 15px; 
	background:rgba(255,255,255,0);
	border:none;
}
.caption{ 
	/*background: #F2F2F2; */
	background:rgba(255,255,255,0.6);
	color: #000;
	border-radius: 2px;
}
.img-circle{
	box-shadow: 10px 10px 5px #1c1c1c; 
	width: 60%; 
	border:3px solid #f2f2f2;
}
.speaker-name{
	font-size: 22px;
	/*color: #fff;*/
	text-decoration: none;
	color: #fff;
	margin:15px;
}
.speaker-card{
	background-color: rgba(0,0,0,0.7);
}
.parallax2 {
    /* The image used */
    background-image: url("../img/dm2.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#accordion .panel-heading{
	background-color: rgba(0,0,0,0.7);
	color: #f1f1f1;
}

.panel-heading h4 a{text-decoration: none;}